<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awwards Copy</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="locomotive.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="main">
        <div id="miniCircle"></div>
        <div id="firstView"> 
             <!--  FIrst page started -->
            <!-- Nav bar started -->
            <nav id="nav">
                <a href="#">Cynthia Ugwu</a>
                <h5>MENU+</h5>
            </nav>

            <!-- Big h1 Headings -->
            <div id="h1Headings">
                <div class="bounding">
                    <h1 class="boundingElem" id="firsthead">Product</h1>
                </div>
                <div class="bounding">
                    <div class="boundingElem" id="headElements">
                    <h1 id="secondhead">Designer</h1>
                        <h4 id="h4Down">Based in Toronto</h4>
                </div>
            </div>
                
          </div>    <!-- Headings finished -->

          <div id="midHead">
            <div class="bounding">
                <h4 class="boundingElem midhead">available for freelance</h4>
            </div>
            <div class="bounding">
                <h4 class="boundingElem midhead">work from may 23'</h4>
            </div>

         </div>
            <div id="bottomElem">
            <h3>Currently working at YML
            <i  class="ri-arrow-right-up-line right"></i>
            </h3>
            <h3>Protopie Ambassador
            <i class="ri-arrow-right-up-line right"></i>
            </h3>
        <div id="arrows">
            <i class="ri-arrow-down-line"></i>
            <i class="ri-arrow-down-line"></i>
        </div>
            </div>
         
        </div>

        <div id="midView">
            <div class="elems">
                <img src="https://images.unsplash.com/photo-1541506618330-7c369fc759b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80" alt="">
                <h2>The Plug</h2>
                <h5>2022</h5>
            </div>
            <div class="elems">
                <img src="https://images.unsplash.com/photo-1618788372246-79faff0c3742?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1854&q=80" alt="">
                <h2>Ixperience</h2>
                <h5>2022</h5>
            </div>
            <div class="elems lastElem">
                <img src="https://images.unsplash.com/photo-1585247226801-bc613c441316?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80" alt="">
                <h2>Hudu</h2>
                <h5>2022</h5>
            </div>
        </div>

        <div id="aboutSec">
            <img src="https://assets.awwwards.com/awards/avatar/2040230/646857eb83780324583326.JPG" alt="">
            <div id="aboutNote">
                <p id="one">(About me)</p>
                <p id="two">I'm a product designer with a passion for creating products that not only look good but also solve real problems. When I'm not sketching ideas on paper, you can find me binge-watching a Netflix series or playing video games. My design philosophy is simple: make it visually appealing, functional, and bring a smile to people's faces. I'm the designer you want on your team if you want to make people say 'I need that in my life!'.</p>
                <button id="three">Let's Talk</button>
            </div>
        </div>
        <div id="forgotSec">
            <h4>(FOrgot to mention)</h4>
            <h3>Subscribe to my youtube channel <i class="ri-arrow-right-up-line right"></i></h3>
        </div>
        <div id="footer">
            <div id="leftFooter">
                <h5>2023 &copy;</h5>
                <h5 id="time">16:01PM EST</h5>
            </div>
            <div id="rightFooter">
                <a href="#">Dribble</a>
                <a href="#">Instagram</a>
                <a href="#">LinkedIn</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
<script src="index.js"></script>
</body>
</html>